html,
body {
  margin: 0;
  padding: 0;
}
body {
  background-color: #2e3136;
  font-family: sans-serif;
  color: white;
  height: 100vh;
}
div {
  background-color: #424549;
  padding: 10px;
  width: 300px;
  flex-direction: column;
  border-radius: 3px;
}
body,
div {
  display: flex;
  align-items: center;
  justify-content: center;
}
