html,
body {
  margin: 0;
  padding: 0;
  color: white;
  font-family: "Roboto", sans-serif;
}

.loadable {
  opacity: 0;
  transition: opacity 1s;
}

.loaded {
  opacity: 1;
}

header {
  position: sticky;
  top: 0;
}

.full-size {
  min-height: 100vh;
}

main,
section {
  position: relative;
  box-sizing: border-box;
  overflow: auto;
}

.container {
  width: 70%;
  margin: 2em auto;
}

@media only screen and (max-width: 900px) {
  .container {
    width: 95%;
  }
}

.background-wrapper {
  display: grid;
  grid-template: 1fr / 1fr;
}

.background-image {
  opacity: 0.3;
  object-fit: cover;
  width: 100%;
  height: 100%;
  grid-area: 1 / 1 / span 1 / span 1;
}

.background-content {
  grid-area: 1 / 1 / span 1 / span 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 1;
}

#avatar {
  border-radius: 50%;
  padding: 3px;
  border: 3px solid var(--c-d-green);
  box-shadow: 0 0 3px var(--c-d-gray-dark3), inset 0 0 3px var(--c-d-gray-dark3);
  object-fit: cover;
  width: 200px;
  height: 200px;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  display: inline-block;
  width: 25%;
  height: 100px;
  overflow: hidden;
  padding: 5px;
  box-sizing: border-box;
}

ul li a {
  padding: 5px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  color: inherit;
  text-decoration: none;
  background-color: var(--c-d-blue);
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 5px;
}

h3 {
  margin: 5px;
}
