body {
  min-height: 100vh;
  background-color: #2e3136;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

table {
  border-collapse: collapse;
}

th,
td {
  padding: 5px;
}

img {
  width: 300px;
}
