body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

h1 {
  margin: 0;
  text-align: center;
}

h2 {
  margin: 0;
}

div.page {
  height: 100vh;
  display: grid;
  grid-template-columns: 220px 1fr;
  grid-template-rows: 70px 10fr 50px;
  grid-template-areas:
    "header header"
    "menu mainContent"
    "footer footer";
}

div.header {
  background-color: lightblue;
  grid-area: header;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.menu {
  grid-area: menu;
  padding: 10px;
}

div.mainContent {
  grid-area: mainContent;
  padding: 10px;
}

div.footer {
  background-color: grey;
  grid-area: footer;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

div.footer span {
  color: white;
  padding: 10px;
}

ul.nav {
  list-style: none;
  padding: 0;
}

ul.nav a {
  color: red;
  text-decoration: none;
}

ul.nav li.active a {
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  div.page {
    grid-template-columns: 1fr;
    grid-template-rows: 70px 1fr 4fr 50px;
    grid-template-areas:
      "header"
      "menu"
      "mainContent"
      "footer";
  }
}
