html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #2e3136;
  min-height: 100vh;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  padding: 20px;
  background-color: #424549;
  border-radius: 5px;
  display: grid;
  grid-template: 1fr repeat(2, 75px) 1000px / repeat(2, 500px);
}

.controls {
  display: flex;
  flex-direction: column;
  padding: 30px;
}

#output {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 1 / span 2;
}

#output > div {
  transition: all 0.3s;
  background-color: #7289da;
  border-radius: 5px;
}

input[type="range"] {
  margin: 10px 0;
}

.display {
  background-color: #43b581;
  margin: 0 5px 10px;
  border-radius: 5px;
  position: flex;
  align-items: center;
  justify-content: center;
}
